{% load static %}

<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Tesis de reconocimiento facial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'styles.ef46db3751d8e999.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'runtime.26414018237d6c3b.js' %}" type="module"></script>
<script src="{% static 'polyfills.d62de2d7a71965da.js' %}" type="module"></script>
<script src="{% static 'main.64525273c56bf8d6.js' %}" type="module"></script>

</body></html>
