{% extends 'web/base.html' %}

{% block head %}
    <title>Agregar clientes</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
{% endblock %}

{% block section %}

<h3>Añadir nuevo usuario en {{contrato}}</h3>


<form method="post">
    {% csrf_token %}
    <label>Cedula: {{formcliente.cedula}}</label>
    <label>Nombre: {{formcliente.nombre}}</label>
    <div hidden>{{formcliente.contrato}}</div>
    <div hidden>{{filtro}}</div>
    
    <input type="submit" value="Añadir usuario">
</form>

<h3>Buscar usuario</h3>

<form method="post">
    {% csrf_token %}

    {{filtro}}
    <div hidden>{{formcliente.contrato}}</div>
    
    <input type="submit" value="Buscar">

</form>
{%if cedulafiltro == None%}
<h3>Usuarios registrados en {{contrato}}({{cantidad}})</h3>
{%endif%}

{% if cedulafiltro != None %}
<h3>Usuarios cuya cedula coincide con "{{cedulafiltro}}" ({{cantidad}})</h3>

<td><button><a href="{% url 'editarcontrato' contrato %}">mostrar todos</a></button></td>

{% endif %}

<table>
    <tr>
        <th>cedula</th>
        <th>nombre</th>
        
    </tr>
    
    {% for usuario in usuarios %}

        <tr>
        <td>{{ usuario.cedula}}</td>
        <td>{{ usuario.nombre }}</td>
        <td><button><a href="{% url 'editarusuario' usuario.cedula %}">editar</a></button></td>
        <td><button><a href="{% url 'eliminarusuario' usuario.cedula %}">eliminar</a></button></td>
        </tr>
        
    {% endfor %}

</table>


{% endblock %}