{% load static %}

<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Tesis de reconocimiento facial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'styles.ef46db3751d8e999.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'runtime.ce46c4347fd7e5da.js' %}" type="module"></script>
<script src="{% static 'polyfills.83c5ecd25fbca854.js' %}" type="module"></script>
<script src="{% static 'main.a171039c4bc54c3e.js' %}" type="module"></script>

</body></html>
