{% extends 'aplicaciondepractica/base.html' %}

{% block head %}
    <title>agregar tareas</title>
{% endblock %}

{% block body %}
    <h1>Pagina para agregar tareas nuevas</h1>

    <form method="post">
        <!--Esto se debe agregar siempre que se tenga un formulario
        ya que esto se encarga de proteger la web de que no
        cualquiera pueda enviar formularios como les plazca-->
        {% csrf_token %}

        <!-- En html normal se haria de esta forma 
        <input type="" name="agregar tarea"> 
        -->
        {{form}}
        <button>agregar</button>
    </form>
    <br>
    <a href="{% url 'home' %}">regresar a la lista de tareas</a>
{% endblock %}