{% extends 'postgrescrud/base.html' %}

{% block head %}
    <title>Ver actividad</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {{select}}
    {{filtro}}

    <input type="submit" value="Seleccionar">
</form>

<form method="post">
    {% csrf_token %}
    
    {{filtro}}

    <input type="submit" value="Filtrar">
</form>

{{usuarioss}}

<h4>Usuarios registrados en este contrato</h4>

<table>
    <tr>
        <th>cedula</th>
        <th>nombre</th>
    </tr>
    
    {% for usuario in usuarios %}

        <tr>
        <td>{{ usuario.cedula}}</td>
        <td>{{ usuario.nombre }}</td>
        </tr>
        
    {% endfor %}
</table>

<h4>Historico de actividad del contrato</h4>

<table>
    <tr>
        <th>cedula</th>
        <th>nombre</th>
        <th>fecha</th>
        <th>hora</th>
        <th>razon</th>
    </tr>
    
    {% for interaccion in interaccioness %}

        <tr>
        <td>{{ interaccion.cedula_id }}</td>
        <td>{{ interaccion.nombre }}</td>
        <td>{{ interaccion.fecha }}</td>
        <td>{{ interaccion.hora }}</td>
        <td>{{ interaccion.razon }}</td>
        </tr>
        
    {% endfor %}
</table>

{% endblock %}