{% extends 'postgrescrud/base.html' %}

{% block head %}
    <title>Agregar contrato</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}

    {{formcontrato}}
    
    <button>Agregar contrato</button>

</form>

<h1>Contratos activos</h1>

<table>
    <tr>
        <th>Contrato</th>
    </tr>
    
    {% for contrato in contratos %}

        <tr>
        <td>{{ contrato.nombre }}</td>
        <td><button><a href="{% url 'eliminarcontrato' contrato.nombre  %}">eliminar</a></button></td>
        </tr>
        
    {% endfor %}
</table>
{% endblock %}