{% extends 'postgrescrud/base.html' %}

{% block head %}
    <title>Agregar clientes</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
{% endblock %}

{% block body %}


<form method="post">
    {% csrf_token %}
    <label>cedula: {{formcliente.cedula}}</label>
    <label>nombre: {{formcliente.nombre}}</label>
    
    <div hidden>{{formcliente.contrato}}</div>
    
    <button>Agregar usuario</button>

</form>

<h3>Usuarios registrados en {{contrato}}</h3>

<h4>Filtrar por:</h4>

<table>
    <tr>
        <th>cedula</th>
        <th>nombre</th>
    </tr>
    
    {% for usuario in usuarios %}

        <tr>
        <td>{{ usuario.cedula}}</td>
        <td>{{ usuario.nombre }}</td>
        <td><button><a href="{% url 'editarusuario' usuario.cedula %}">editar</a></button></td>
        <td><button><a href="{% url 'eliminarusuario' usuario.cedula %}">eliminar</a></button></td>
        </tr>
        
    {% endfor %}


</table>
{% endblock %}