<html>
    <head>
        <title>django practica3 html</title>
    </head>
    <body>
        <h1>mi tercera practica en django</h1>
        <p>en este html estoy utilizando logica en html</p><br><br>
            {{variable3}}
            <p>si se cambia la variable usada a "1", aparecera la palabra "uno"</p>
            <p>si se cambia la variable usada a "2", aparecera la palabra "dos"</p>
        {% if variable3 == 1 %}
            <h1>UNO</h1>
        {% endif %}

        {% if variable3 == 2 %}
            <h1>DOS</h1>
        {% endif %}
    </body>
</html>